/*code reset CSS*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
margin:0;
padding:0;
}
table {
border-collapse:collapse;
border-spacing:0;
}
fieldset,img {
border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
font-style:normal;
font-weight:normal;
}
ol,ul {
list-style:none;
}
caption,th {
text-align:left;
}
h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:normal;
}
q:before,q:after {
content:'';
}
abbr,acronym { border:0;}
/*End Code reset CSS*/
body{
font-familly: helvetica, tahoma, arial, sans-serif;  
background: url(image/bg.jpg);
}

#container{
margib: 10px auto;
width:960px;}

/*Main Setting*/
#logo{
overflow: hidden;
}
#logo img{
float:left;
}
#logo form{
float:right;
}
/*MAIN NAVIGATION*/
#main_nav{
font-size: 1.2 em;
background: #b4e887;
overflow: hidden;
padding: 10px;
}

#main_nav li{
display:inline;}

#main_nav li a{
padding: 5px;
text-decoration: none;
color: #191919;
font-weight:bold;
}

#main_nav li a:hover{
color: white;
background: #FF7e00;
text-decoration: none;
background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}

/*MAIN CONTENTS*/
#main_content{
form-size: 1.2em;
margin: 15px 0px;
}
